export OS_PROJECT_DOMAIN_ID=default
export OS_REGION_NAME=RegionOne
export OS_USER_DOMAIN_ID=default
export OS_PROJECT_NAME=admin
export OS_IDENTITY_API_VERSION=3
export OS_PASSWORD={{ devstack_cred }}
export OS_AUTH_TYPE=password
export OS_USERNAME=admin
export OS_TENANT_NAME=admin
export OS_VOLUME_API_VERSION=3
export OS_AUTH_URL={{ keystone_auth_url }}
export OS_CERT={{ client_ssl_cert_file }}
export OS_KEY={{ client_ssl_private_key_file }}
export OS_CACERT={{ client_ssl_ca_file }}
