{% if (enable_oidc | bool) %}
ServerName {{ fully_qualified_server_name }}
{% endif %}

ProxyPass "/identity" "unix:/var/run/uwsgi/keystone-wsgi-public.socket|uwsgi://uwsgi-uds-keystone-wsgi-public/" retry=0

{% if (enable_kerberos_external_auth | bool) %}
ProxyPass "/krb/identity" "unix:/var/run/uwsgi/keystone-wsgi-public.socket|uwsgi://uwsgi-uds-keystone-wsgi-public/" retry=0

<Location "/krb/identity/v3/auth/tokens">
    LogLevel              debug
    AuthType              Kerberos
    AuthName              "Keystone Kerberos Login"
    KrbMethodNegotiate    On
    KrbMethodK5Passwd     Off
    KrbServiceName        Any
    KrbAuthRealms         KEYSTONE
    Krb5KeyTab            /etc/keystone/keystone.keytab
    KrbVerifyKDC          Off
    KrbLocalUserMapping   On
    KrbAuthoritative      On
    Require               valid-user
    SetEnv REMOTE_DOMAIN  {{ kerberos_domain_name }}
</Location>
{% endif %}

{% if (enable_oidc | bool) %}
# see https://github.com/zmartzone/mod_auth_openidc/blob/master/auth_openidc.conf
OIDCClaimPrefix "OIDC-"
OIDCResponseType "id_token"
OIDCScope "openid email profile"
OIDCProviderMetadataURL https://accounts.google.com/.well-known/openid-configuration
OIDCClientID  {{ oidc_client_id }}
OIDCClientSecret {{ oidc_client_secret }}
OIDCCryptoPassphrase {{ oidc_crypto_passphrase }}
OIDCRedirectURI {{ oidc_redirect_url }}
#OIDCPassClaimsAs both
#OIDCPassIDTokenAs claims

<Location /identity/v3/OS-FEDERATION/identity_providers/google/protocols/openid/auth>
    Require valid-user
    AuthType openid-connect
    LogLevel debug
</Location>

<Location /identity/v3/auth/OS-FEDERATION/websso/openid>
    Require valid-user
    AuthType openid-connect
    LogLevel debug
</Location>
<Location /identity/v3/auth/OS-FEDERATION/identity_providers/google/protocols/openid/websso>
    Require valid-user
    AuthType openid-connect
    LogLevel debug
</Location>
{% endif %}
