[[local|localrc]]

# IP to use
HOST_IP={{ host_ip }}

# git base URL. Use https if you are behind a corporate proxy.
GIT_BASE={{ git_base_url }}

DEST={{ devstack_dest }}
DATA_DIR=${DEST}/data
SERVICE_DIR=${DEST}/status
SUBUNIT_OUTPUT=${DEST}/devstack.subunit

# Credentials
ADMIN_PASSWORD={{ devstack_cred }}
DATABASE_PASSWORD={{ devstack_cred }}
RABBIT_PASSWORD={{ devstack_cred }}
SERVICE_PASSWORD={{ devstack_cred }}

# disable all services, only enable the ones we care about
disable_all_services
enable_service {{ enable_services }}
